* {
    margin: 0;
}

.container_footer {
    height: 370px;
    position: relative;

    .footer {
        height: 318px;
        background-color: #161616;
    }
}

.copyright {
    height: 52px;
    background-color: #212121;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright_text {
        color: rgba(255, 255, 255, 0.4);
        width: 339px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 500;
        font-family: DM Sans;
        font-style: normal;
    }
}


.sec_1 {
    position: absolute;
    top: 70px;
    left: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    .sec_1_text {
        width: 341px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #D2D7DC;
        opacity: 0.7;
        margin-top: 8px;
    }
}


.sec_2 {
    position: absolute;
    width: 146px;
    top: 70px;
    left: 625.33px;

    .sec_2_header {
        color: #D2D7DC;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
}


li {
    margin-left: -40px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 2px;
    color: #D2D7DC;
    opacity: 0.7;
}


.sec_3 {
    position: absolute;
    color: #D2D7DC;
    width: 176px;
    top: 70px;
    left: 955.67px;

    .sec_3_header {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
}


.sec_4 {
    position: absolute;
    color: #D2D7DC;
    width: 176px;
    top: 70px;
    left: 1316px;

    .sec_4_container {
        display: flex;
        flex-direction: column;

        .icon {
            margin-bottom: 22px;
        }
    }
}