@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size

@mixin random-bgr($colornum) {
  background: rgb(
    random($colornum + 20),
    random($colornum + 10),
    random($colornum + 2)
  );
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > li {
    display: flex;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;
    transition: all 0.25s cubic-bezier(0.76, 0, 0.24, 1);
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        @include random-bgr($item-size + 300);
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
        transform-origin: center;
      }
      div:hover {
        position: relative;
        background: linear-gradient(0deg, #000, #262626);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // filter: grayscale(100);

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -3;
          border-radius: 50%;
          background: linear-gradient(
            45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00
          );
          -webkit-background-size: 600%;
          background-size: 600%;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          display: flex;
          justify-content: center;
          align-items: center;
          top: -2px;
          left: -2px;
          animation: animate 15s linear infinite;
          filter: blur(13px);
        }
        &:after {
          filter: blur(10px);
        }
      }

      $rot: $rot + $angle;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-container {
  @include on-circle($item-count: 16, $circle-size: 18em, $item-size: 3em);
  // border: solid 5px tomato;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 30s linear infinite;

  li {
    div {
      position: relative;
      width: 63px;
      animation: spin 30s linear infinite reverse;
      // background-color: #fb0094;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        // position: absolute;
        z-index: 2;
        width: 100%;
      }
    }
  }
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .image {
    border: 5px solid aquamarine;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}

.box {
  position: relative;
  background: linear-gradient(0deg, #000, #262626);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:before,
.box:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00
  );
  -webkit-background-size: 600%;
  background-size: 600%;
  width: calc(100% + 80px);
  height: calc(100% + 90px);
  // top: -2px;
  // left: -2px;
  animation: animate 15s linear infinite;
  filter: blur(150px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.box:after {
  filter: blur(150px);
}
